body {
  margin: 0;
  padding: 0;
  background-color: #f17550;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #221f20;
}

h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #221f20;
}
